* {
    font-family: 'Roboto', sans-serif;
}

.demo-card-wide.mdl-card {
    width: 100%;
}
.demo-card-wide > .mdl-card__title {
    height: 96px;;
}

.final-card-wide.mdl-card {
    width: 100%;
}
.final-card-wide > .mdl-card__title {
    height: 256px;;
}
  
